<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guludai.base.mapper.BaseAreaTownMapper" >
  <resultMap id="BaseResultMap" type="com.guludai.base.entity.BaseAreaTown" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="city_no" property="cityNo" jdbcType="CHAR" />
    <result column="town_no" property="townNo" jdbcType="CHAR" />
    <result column="town_name" property="townName" jdbcType="VARCHAR" />
    <result column="orders" property="orders" jdbcType="SMALLINT" />
    <result column="version" property="version" jdbcType="BIGINT" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="data_status" property="dataStatus" jdbcType="CHAR" />
    <result column="disk_status" property="diskStatus" jdbcType="CHAR" />
  </resultMap>
</mapper>