<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.guludai.app.mapper.Test2Mapper" >
  <resultMap id="BaseResultMap" type="com.guludai.app.entity.Test2" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="test" property="test" jdbcType="VARCHAR" />
  </resultMap>
</mapper>